DATABASE_URL=postgresql+psycopg2://YOUR_USERNAME@localhost:5432/nonprofit_vendor_payments

JWT_SECRET_KEY=a4b5b21adbe803d2b8cd86bc3ecda671914c634fbc485b16d5de915df9b393e8
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60